{% extends "origin/base.j2" %}
{% load static %}
{% block title %}
    Fakülte    
{% endblock title %}
{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>{{ object.title }}</h2>

                <ul>
                    <li>
                        <a href="{% url 'university:home' %}">
                            Ana Sayfa
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'university:faculty-list' %}">
                            Fakülteler
                        </a>
                    </li>

                    <li class="active">{{ object.title }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
{% endblock content %}