<div class="sidebar-widget search">
    <form class="search-form">
        <input class="form-control" name="search" placeholder="Arama Yap..." type="text">
        <button class="search-button" type="submit">
            <i class="ri-search-line"></i>
        </button>
    </form>
</div>